<h3>Meals</h3>
<br>

<ul>
  <% @meals.each do |meal| %>
  <li><%= link_to meal.breakfast, meal_path(meal) %></li>
  <li><%= link_to meal.lunch, meal_path(meal) %></li>
  <li><%= link_to meal.dinner, meal_path(meal) %></li>
  <li><%= link_to meal.snacks, meal_path(meal) %></li>
  <% end %>
</ul>

<%= link_to 'New Meal', new_meal_path, id: "new_meal", remote: true %>
