<h3><%= @breakfast.add_food %></h3>
<br>

<% if @breakfast.breakfast_ingredients.any? %>
<h4>Here are the ingredients in this breakfast food:</h4>

<ul>
  <% @breakfast.breakfast_ingredients.each do |breakfast_ingredient| %>
  <li>
    <%= breakfast_ingredient.description %> |
    <%= link_to "Edit", edit_breakfast_breakfast_ingredient_path(@breakfast, breakfast_ingredient), id: "edit_breakfast_ingredient", remote: true %> |
    <%= link_to "Delete", breakfast_breakfast_ingredient_path(@breakfast, breakfast_ingredient),
    :data => {:confirm => "Are you sure?",
      :method => "delete"} %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>There are no ingredients for this food yet!</p>
  <% end %>

  <br>

  <p><%= link_to "Add an ingredient", new_breakfast_breakfast_ingredient_path(@breakfast), id:"new_breakfast_ingredient", remote: true %></p>
  <p><%= link_to "Delete", breakfast_path(@breakfast),
  :data => {:confirm => "Are you sure you want to delete this meal?",
    :method => "delete"} %></p>
